body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1000px;
    min-width: 500px;
    padding: 10px;
}

h1 {
  text-decoration: underline;
}

li{
 max-width: 600px;
 min-wifth: 400px;
}

li a:hover{
    color: black;
}

span{
 text-decoration: underline; 
}

.red{
color: #8c2227;
font-weight: bold;
}
