body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    max-width: 1000px;
    min-width: 500px;
    padding: 10px;
}

h1{
    font-weight: normal;
    text-decoration: none;
}

h1 span{
 font-weight: bold;   
}

p{
 display: block;
 border-bottom: solid;
 padding-bottom: 7px;  
}

li{
 max-width: 600px;
 min-wifth: 400px;
}

a .red:hover{
    color: grey;
    font-weight: bold;
}

span{
 text-decoration: underline; 
}

.red{
color: #8c2227;
font-weight: bold;
}
